<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show random NFT</title>
</head>

<body>
    <!-- <h1>{{url_for('static', filename=data)}}</h1> -->
    <div>
        <a class="btn" href="{{nextid}}">Next!</a>
        <br>
    </div>

    <img src="{{url_for('static', filename=data)}}"  alt="User Image"  height="30%" width="30%">
    <pre class="container"></pre>
</body>
<script>
    var jsonfile = JSON.parse({{jsonfile|tojson}});
console.log(jsonfile);
document.querySelector(".container").innerHTML = jsonfile;
</script>
</html>